#banner{
  padding: 75px 0 10px 0;
  background: url(../images/banner1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#banner::after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: -1;
}

.banner_txet h1{
  font-size: 48px;
  color: white;
}

.banner_txet h1 span{
  color: #4c76ff;
}


.banner_txet p{
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding-top: 20px;
}

.banner_social{
  padding-top: 45px;
}

.banner_social i{
  margin-right: 13px;
  font-size: 18px;
  color: white;
  opacity: .4;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.banner_social i:hover{
  opacity: 1;
  transform: scale(1.1) translateY(-6px);
  -webkit-transform: scale(1.1) translateY(-6px);
  -moz-transform: scale(1.1) translateY(-6px);
  -ms-transform: scale(1.1) translateY(-6px);
  -o-transform: scale(1.1) translateY(-6px);
}