.tabs_head{
  padding-top: 85px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.tabs_padding{
  padding-top: 75px;
}

.tab_item button{
  position: relative;
  text-align: left;
  color: black !important;
  padding: 15px 0 15px 15px !important;
  margin-bottom: 70px;
}
.tab_item button i{
  font-size: 25px;
  position: absolute;
  top: 15%;
  left: 3%;
  opacity: 0.4;
}
.tab_item button h2{
  padding-left: 65px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.tab_item button p{
  padding-left: 65px;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-top: 20px;
}

.nav-pills .fc.active, .nav-pills .show>.fc {
  color: black !important;
  background-color: #fefce9;

}